<h2>Welcome to Big Al's Record Store Stock Database</h2>

<div>
  <div>
    <div>
      <h3><a href="/albums">View All Albums</a></h3>
    </div>
    <div>
      <h3><a href="/artists">View All Artists</a></h3>
    </div>
  </div>
  <div>
    <div>
      <h3><a href="/albums/new">Add Album</a></h3>
    </div>
    <div>
      <h3><a href="/artists/new">Add Artist</a></h3>
    </div>
  </div>
</div>