<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Big Al's Record Store Stock</title>
</head>
<body>
  
  <header>
    <h1>Big Al's Record Store</h1>
    <hr />
    <h3>
      <a href="/">Home</a>
      <a href="/albums">Albums</a>
      <a href="artists">Artists</a>
    </h3>
    <hr />
  </header>

  <main>
    <%=yield%>
  </main>

  <footer>
    
  </footer>

</body>
</html>