<form class="show" action="/albums" method="post">
  <div>
  <label for="title">Title:</label>
  <input type="text" id="title" name="title"><br>

  <label for="artist-select">Select an Artist:</label>
  <select name="artist_id" id="artist-select">
    <%for artist in @artists%>
      <option value="<%=artist.id%>"><%=artist.name()%></option>
    <%end%>
  </select><br>

  <label for="genre">Genre:</label>
  <input type="text" id="genre" name="genre"><br>

  <label for="year">Release Year:</label>
  <input type="number" id="year" name="year"><br>

  <label for="stock">Stock:</label>
  <input type="number" id="stock" name="stock"><br>

  <label for="buy-price">Buy Price: £</label>
  <input type="number" id="buy-price" name="buy_price"><br>

  <label for="sell-price">Sell Price: £</label>
  <input type="number" id="sell-price" name="sell_price"><br>

  <label for="artwork">Artwork URL:</label>
  <input type="text" id="artwork" name="artwork"><br>  

  <label for="spotify">Spotify Embed Code:</label>
  <input type="text" id="spotify" name="spotify"><br>

  <input class="button" type="submit" value="Add Stock"><br>
  </div>
</form>