<form class="show" action="/artists/<%= @artist.id %>" method="post">
  <div>
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" value="<%=@artist.name%>"><br>

  <label for="spotify">Spotify Embed Code:</label>
  <input type="text" id="spotify" name="spotify" value="<%=HTMLEntities.new.encode(@artist.spotify)%>"><br>

  <input class="button" type="submit" value="Edit Artist"><br>
  </div>
</form>