<h2 class="page_title">Artists</h2>

<a class="add-link"  href="/artists/new">Add new artist</a>

<table>
  <tr>
    <th>Name</th>
    <th>Albums in Stock</th>
  </tr>
  <% for artist in @artists %>
  <tr>
    <td><a href="artists/<%= artist.id %>"><%= artist.name %></a></td>
    <td><% for album in artist.albums%>
      <a href="albums/<%= album.id %>"><%= album.title %></a><br>
      <%end%>
    </td>
  </tr>
  <%end%>
</table>
