<form class="show" action="/artists" method="post">
  <div>
  <label for="name">Name:</label>
  <input type="text" id="name" name="name"><br>

  <label for="spotify">Spotify Embed Code:</label>
  <input type="text" id="spotify" name="spotify"><br>

  <input class="button" type="submit" value="Add Artist"><br>
  </div>
</form>